.summary__container{
    background-color: #fff;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 5px;
}

.summary__container {
    margin-top: 2rem;
    width: 100%;
}

.summary__container div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.summary__container label {
    display: block;
    color: #979797;
}

.summary__container div > .price {
    margin-right: 0;
}

.summary__title {
    margin: .5rem 0;
    font-size: 1.6rem;
    color: #979797;
}

.price, .shipping__price {
    font-weight: 600;
}

#form__coupon div {
    position: relative;
    width: 70%;
}

#form__coupon {
    margin: 1rem 0;
    font-size: 1.6rem;
}

#coupon {
    width: 100%;
    padding-right: 3.5rem;
    padding-left: .5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

#coupon, #submit {
    height: 30px;
    outline: none;
    border: none;
}

#submit {
    position: absolute;
    right: 0;
    background-color: var(--main-color);
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.line {
    position: relative;
    display: block;
    padding: 2rem 0;
}

.line:after {
    top: 50%;
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    position: absolute;
    background-color: var(--main-color);
    width: 20%;
    transform: translate(-50%, -50%);
}

.total {
    margin-top: 1rem;
}

.checkouttt {
    margin-top: 1rem;
    display: block;
    text-align: center;
    padding: 1.5rem 0;
    background-color: var(--main-color);
    color: #fff;
    font-weight: 600;
    transition: background-color 0.2s ease;
}

.checkouttt:hover {
    background-color: #c56715;
}
.km{
    position: absolute;
    right: -85px;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(240, 140, 59);
}