.tb_khachhang{
    margin: 0 auto;
    width: 1200px;
    margin-bottom: 200px;
}
.title_kh{
    padding-top: 50px;
    padding-bottom: 20px;
    color: #eb7a2f;
    font-weight: bold;
    font-size: 20px;
}