.camon{
    text-align: center;
    padding-bottom: 70px;
}
.camon-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    padding-bottom: 40px;
    padding-top: 300px;
    color: #e67e22;
}

.camon-title h1{
    display: inline-block;
    text-align: center;
}
.return-home{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 300px;
}
.smile{
    display: inline-block;
    margin-right: 20px;
}