.forget_psw 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.forget_form{
    background: rgba(255, 200, 175, 0.822);
    padding: 30px;
    width: 450px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    border-radius: 30px;

}

.forget_user_input input{
    width: 100%;
    border-radius: 5rem;
    border: 1px solid #f39d1286;
    padding: 1.5rem 4rem 1.5rem 5rem;
    font-family: inherit;
    font-size: 1.4rem;
    outline: none;
    margin-bottom: 10px;
}

.forget_user_input label{
    font-weight: bold;
    font-family: inherit;
    font-size: 15px;
    margin-bottom: 10px;
}

.text-send{
    font-weight: bold;
    font-family: inherit;
    font-size: 13px;
}

.forget_send_button{
    background-color: #e67e22;
    color: white;
    float: right;
    margin-top: 10px;
    top: 0px;
    right: 10px;
    border: none;
    outline: none;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.forget_send_button:hover{
    background-color: #ffaa89;
}


